* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-body-color: #161616;
    --secondary-body-color: #ff9e00;
}

html,
body {
  height: 100vh;
}

body {
    background-color: black;
}

header > nav {
    background-color: var(--main-body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 80px;
    border-bottom: 1px solid var(--secondary-body-color);
}

.nav-btn {
    color: var(--secondary-body-color);
    background-color: var(--main-body-color);
    border: none;
    font-size: larger;
    font-weight: bold;
}

.nav-btn:hover {
    cursor: pointer;
    color: #ffbd00;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    background-color: var(--main-body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-width: 500px;
    max-width: 800px;
    color: #fff;
    border: 1px solid var(--secondary-body-color);
    gap: 15px;
    padding: 50px;
    font-size: large;
    margin-top: 45px;
}

#home > p:nth-last-child(-n + 2) {
    color: var(--secondary-body-color);
    font-weight: bolder;
}

h1, h2, h3, .product-price {
    color: var(--secondary-body-color);
}